body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 1em 0;
  text-align: center;
}

main {
  padding: 1em;
}

h1,
h2 {
  margin: 0;
  padding-bottom: 0.5em;
}

p {
  margin-bottom: 1em;
}

nav {
  margin-top: 2em;
  text-align: center;
}

nav a {
  margin: 0 1em;
  padding: 0.5em 1em;
  text-decoration: none;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}

nav a:hover {
  background-color: #45a049;
}
